.zui-table {
    border: solid 1.5px #AAA;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 11px Arial, sans-serif;
    width:300px;
    background-color: white;
    justify-content: center;
    text-align: center;
    margin:6px;
}
.footnote{
    font-size: 12px;
}
.zui-table thead th {
    background-color: #DEE;
    border: solid 1px #BDD;
    color: #066;
    padding: 8px;
    text-align: center;
    text-shadow: 1px 1px 1px #fff;
}
.zui-table tbody td {
    border: solid 1px #C9C9C9;
    color: #333;
    padding: 8px;
    text-shadow: 1px 1px 1px #fff;
    word-wrap: break-word;
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.container1 {
  display: flex;
  justify-content: space-around;
}
.containerSub{
  font: normal 14px Arial, sans-serif;
}
.button {
  border: 1px solid black;
  color: #000;
  background-color: #AAA;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  width: 25%;
  font-size: 16px;
}
.containerInv{
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 66%;
  flex-wrap: wrap;
  justify-content: center;
  margin:auto;
  font-family: Arial, sans-serif;
}
.poi{
  text-align: center;
  margin:2px;
}
.inv{
  text-align: center;
  margin:2px;
}
.caster{
  font-style: italic;
  font-size: 9px;
}
.box{
  border: 1px solid black;
  text-align: left;
  padding: 10px;
  margin: 9px;
  background-color: white;
  font-size: 12px;
  font-weight: normal;
  width: 280px;
}
.mission{
  border: 1px solid black;
  text-align: left;
  padding: 10px;
  margin: 9px;
  background-color: white;
  font-size: 12px;
  font-weight: normal;
  font-family: Arial, sans-serif;
  max-width: 600px;
  text-align: center;
}
.upperbox{
  text-align: left;
  padding: 5px;
  justify-content: space-around;
  font: normal 13px Arial, sans-serif;
}
.test{
  font-weight: bold;
  text-align: center;
  justify-content: center;
}
.header{
  font: bold 13px Arial, sans-serif;
  text-align: center;
  justify-content: center;
}
.sectionHeader{
  font: bold 18px Arial, sans-serif;
  text-align: center;
  justify-content: center;
  background-color: #E0E0E0;
  padding: 2px;
  border: 2px solid #888
}
.poitables {
  max-width: 1000px;
}
.whole{
  max-width: 80%;
  margin: auto
}
